{%extends "layout.html"%}
{%block title%}User login{%endblock%}
{%block content%}
<!--Create the login form-->
<p class="h5">Doctor Sign In</p>
  {%if messages%}
  <ul class="messages">
    {%for message in messages%}
    <li{%if message.tags%} class="{{ message.tags }}"{% endif %}>{{message}}</li>
    {%endfor%}
  </ul>
  {%endif%}
  <form method="POST">
    <div class="form-group">
  {%csrf_token%}
  {{form.as_p}}
<input type="submit" value="Login">
</div>
</form>
<p class="h5">You don't have an account?Register <a href="{%url 'register'%}">here</a></p>
{%endblock%}