{%extends "layout.html"%}
{%block title%}User Registration{%endblock%}
{%block content%}
<!--Create the regisration form-->
<p class="h5">Doctor Sign Up</p>
<hr class="my-4">
      <!--for error messages-->
      {%if messages%}
      <ul class="messages">
        {%for message in messages%}
        <li{%if message.tags%} class="{{ message.tags }}"{% endif %}>{{message}}</li>
        {%endfor%}
      </ul>
      {%endif%}
      <!--registration form-->
   <form method="POST">
    {%csrf_token%}
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input class="form-control" type="text" name="first_name" placeholder="Enter your name">
  </div>
  <label for="last_name">Last Name:</label>
  <input class="form-control" type="text" name="last_name" placeholder="Enter your surname">
</div>
<label for="username">Username:</label>
  <input class="form-control" type="text" name="username" placeholder="Enter your surname">
</div>
<label for="email">Email:</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
<input type="submit" value="Sign Up">
</form>
{%endblock%}