{%extends "layout.html"%}
{%block title%}User Registration{%endblock%}
{%block content%}
<!--Create the regisration form-->
<p class="h5">Doctor Sign Up</p>
<hr class="my-4">
      <!--for error messages-->
      {%if messages%}
      <ul class="messages">
        {%for message in messages%}
        <li{%if message.tags%} class="{{ message.tags }}"{% endif %}>{{message}}</li>
        {%endfor%}
      </ul>
      {%endif%}
      <!--registration form-->
      <form method="POST">
        <div class="form-group">
      {%csrf_token%}
      {{form.as_p}}
   <input type="submit" value="Register">
  </div>
  </form>
{%endblock%}