{%extends 'layout.html'}
{%block title}Home Page{%endblock%}
{%block content%}
<!--Calendar display-->
<div class="container mt-5">
    <!--calendar head respresenting days,month and year-->
    <h1 class="text center">{{month}}{{year}}</h1>
    <table class="table-bordered text-center">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wen</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <!--calendar days-->
        <tbody>
            {%for week in cal%}
            <tr>
                {%for day in week%}
                {%if day !=0%}
                <td>{{day}}</td>
                {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <!--navigation links for next year or previous year-->
    <div class="text-center mt-3">
        {%if month > 1%}
        <a class="btn btn-primary" href="{%url 'index_view' year=year, month=month|add: '-1'%}">Previous Month</a>
        {%else%}
        <a class="btn btn-primary" href="{%url 'index_view' year=year-1, month=12%}">Previous Month</a>
        {%endif%}
        {%if month<12%}
        <a class="btn btn-primary" href="{%url 'index_view' year=year, month=month|add: '1'%}">Previous Month</a>
        {%else%}
        <a class="btn btn-primary" href="{%url 'index_view' year=year+1, month=1%}">Previous Month</a>
        {%endif%}
    </div>
</div>
{%endblock%}