{%extends 'layout.html'%}
{%block title%}Add or update Patient{%endblock%}
{%block content%}
{%include 'navbar.html'%}
<div class = "container mt-5">
    {%if patients%}
    <table class="table-bordered text-center">
        <thead>
            <tr>
                <th>Patient Full Name</th>
                <th></th>
            </tr>
        </thead>
        <!--patient list-->
    <tbody>
        {%for patient in patients%}
        <tr>
    <td><a href="{%url 'patient_info' patient.id%}">{{patient.full_name}}</a></td><td> <a class="btn btn-primary" href="{%url 'add_or_update_patient' patient.id %}">See or Update details</a></td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
    {%else%}
    <p class="h6">No patients to show</p>
    {%endif%}
</div>
{%endblock%}